.vjs-custom-skin {
    & > .video-js {
        width: 100%;
        background:none;
        font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
        .vjs-control {
            width: 3em;
            &.vjs-live-control {
                width: auto;
                padding-left: .5em;
                letter-spacing: .1em;
            }
        }
        //屏蔽右键，悬浮的都装这里
        .cover-box{
            //大播放按钮
            .vjs-big-play-button {
                top:initial;
                bottom:70px;
                left:16px;
                background-color: rgba(37, 40, 44, 0.2);
                font-size: 16px;
                height: 34px;
                width:34px;
                line-height: 2em !important;
                margin-top: -1em !important;
                border-radius:5px;
            }
            &:hover{
                .vjs-big-play-button {
                    background-color: rgba(37, 40, 44, 0.9);
                }
            }
        }

        .vjs-control-bar {
            display:flex;
            z-index:5;
            color: #ffffff;
            font-size: 14px;
            .vjs-resolution-button {
                order: 4;
                .vjs-menu {
                }
                .vjs-resolution-button-label {
                    display: block;
                    line-height: 3em;
                }
            }
            .vjs-button{
                .vjs-icon-placeholder{
                    &:before{
                        line-height:47px;
                        font-size:20px;
                    }
                }
            }


            /*排序顺序*/
            .vjs-play-control {
                order: 0;
            }
            //时间 三连
            .vjs-time-control {
                min-width: 1em;
                padding: 0;
                margin: 0 .1em;
                text-align: center;
                display: block;
                order: 1;
            }
            .vjs-current-time{
                width:auto;
            }
            .vjs-time-divider{
                color:#999;
            }
            .vjs-duration{
                width:inherit;
                flex-shrink:1;
                text-align:left;
                color:#999;
            }





            .vjs-volume-panel{
                order:6;
                width:106px;
                height:3em;
                .vjs-volume-horizontal{
                    width:5em;
                    opacity:1;
                    .el-slider__runway{
                        margin-top:20px;
                    }
                    .el-slider__bar{
                        background-color: #fff;
                    }
                    .el-slider__button{
                        width:14px;height:14px;
                        border:none;
                        &:hover,&.hover{
                            -webkit-transform:scale(1);
                            transform:scale(1);
                        }
                    }
                }
                .vjs-mute-control{
                    width:27px;
                    padding:0;
                }
            }

            //播放速率
            .vjs-playback-rate {
                order: 6;
                .vjs-playback-rate-value {
                    font-size: 1.2em;
                    line-height: 2.4;
                }
            }
            //全屏按钮
            .vjs-fullscreen-control {
                order: 6;
            }
        }
        .vjs-progress-control {
            &.vjs-control {
                width:100%;
                height:5px;
                position:absolute;
                top:-5px;
                background:-moz-linear-gradient(left,#13ce66,#13ce66 10px,rgba(115, 133, 159, 0.5) 10px,rgba(115, 133, 159, 0.5));
                background:linear-gradient(left,#13ce66,#13ce66  10px,rgba(115, 133, 159, 0.5) 10px,rgba(115, 133, 159, 0.5) );
            }
            .el-slider__runway{
                height:5px;
                background-color:#5c5c5c;
            }
            .el-slider__bar{
                background-color: #13ce66;
                height:5px;
            }
            .el-slider__button{
                width:14px;height:14px;
                border:none;
                background-color: #13ce66;
                &:hover,&.hover{
                    -webkit-transform:scale(1);
                    transform:scale(1);
                }
            }


        }
    }
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline.vjs-slider-active, .vjs-custom-skin > .video-js .vjs-menu-button-inline:focus, .vjs-custom-skin > .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em;
}

.vjs-menu-button-inline {
    .vjs-menu {
        left: 3em;
    }
}



.vjs-custom-skin > .video-js .vjs-mouse-display:after, .vjs-custom-skin > .video-js .vjs-play-progress:after {
    padding: 0 .4em .3em;
}







.vjs-menu-button-popup {
    &.vjs-volume-menu-button-vertical {
        .vjs-menu {
            left: 0em;
        }
    }
}

.vjs-custom-skin > .video-js .vjs-time-tooltip,
.vjs-custom-skin > .video-js .vjs-mouse-display:after,
.vjs-custom-skin > .video-js .vjs-play-progress:after {
    border-radius: 0;
    font-size: 1em;
    padding: 0;
    width: 3em;
    height: 1.5em;
    line-height: 1.5em;
    top: -3em;
}

